body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 0px;
  padding: 0px;
  background: url(img/BG-image-gym.jpg);
}

.left {
  display: inline;
  position: absolute;
  left: 34px;
  top: 20px;
  /* border: 2px solid red; */
}

.left div {
  text-align: center;
  font-size: 14px;
}

.left img {
  width: 5em;
  filter: invert(100%);
}

.mid {
  display: block;
  width: 55%;
  margin: 29px auto;
  /* border: 2px solid green; */
}

.right {
  position: absolute;
  right: 34px;
  top: 42px;
  display: inline-block;
  /* border: 2px solid yellow; */
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  color: white;
  font-size: 25px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
  color: grey;
  text-decoration: underline;
  padding: 34px 23px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(39, 38, 38);
}

.container {
  text-align: center;
  border: 2px solid white;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin: 106px 80px; */
  padding: 42px;
  width: 38%;
  border-radius: 28px;
}

.form-group input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: block;
  width: 508px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  border-radius: 8px;
  font-size: 25px;
}

.container h1 {
  text-align: center;
}

.container button {
  display: block;
  width: 32rem;
  margin: 20px auto;
}

footer {
  padding: 10px 0;
  background-color: #101010;
  color: #dfdcdc;
  bottom: 0;
  width: 100%;
  text-align: center;
}
