:root {
  --primary-color: #dc030a;
  --primary-color-dark: rgb(135, 6, 12);
  --text-dark: #0a0a0a;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", san-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__description {
  color: var(--text-light);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--text-dark);
  position: fixed;
  width: 100%;
  z-index: 9;
}

.nav__bar {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo p {
  text-align: center;
  font-size: 0.68rem;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.1rem;
  font-family: var(--header-font);
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}


.nav__links a:hover {
  color: var(--primary-color);
}

.navbar li a:hover,
.navbar li a.active {
  position: relative;
  color: gray;
}

.about__container{
  background-image: 
  linear-gradient(rgba(0, 0, 0, .66), 
  rgba(0,0,0, .6)), 
  url(img/About_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.about__header{
  text-align: center;
  display: grid;
  gap: 1rem;
}

.about__header .section__header{
  font-size: 3rem;
  color: var(--white);
}

.about__header .section__description{
  max-width: 450px;
  margin-inline: auto;
  color: var(--extra-light);
}

.about__grid{
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
}

.about__card h4{
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-top: 4rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white)
}

.about__card h4::before{
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 6rem;
  line-height: 6rem;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.about__card:nth-child(1) h4::before {
  content: "01";
}

.about__card:nth-child(2) h4::before {
  content: "02";
}

.about__card:nth-child(3) h4::before {
  content: "03";
}

.about__card p{
  color: var(--extra-light);
}

.trainer__grid{
  margin-top: 4rem;
  display: grid;
  gap: 1rem;

}

.trainer__card img{
  margin-bottom: 1rem;
}

.trainer__card h4{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.trainer__card p{
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: center;
}

.trainer__socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.trainer__socials a{
  font-size: 1.25rem;
  color: var(--text-light);
}

.trainer__socials a:hover{
  color: var(--primary-color);
}

.trainer__container h2{
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--header-font);
  color: var(--text-dark)
}

.trainer__container p{
  text-align: center;
  color: var(--text-light)
}

.membership{
  background-image: linear-gradient(rgba(0, 0, 0, .66), 
  rgba(0,0,0, .6)),
  url(img/Membership__banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.membership__container .section__header {
  color: var(--white);
}

.membership__grid{
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.membership__card{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.membership__card:hover{
  background-color: var(--primary-color);
}

.membership__card h4{
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
}

.membership__card ul{
  margin-bottom: 1rem;
  list-style: none;
  display: grid;
  gap: 1rem;
}

.membership__card li{
  display: flex;
  gap: 10px;
  color: var(--white);
}

.membership__card li span{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: .3s;
}

.membership__card:hover li span {
  color: var(--white);
}

.membership__card h3{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.membership__card h3 :is(sup, span){
  font-size: 1.5rem;
  font-weight: 400;
}

.membership__card:hover .btn{
  background-color: var(--text-dark);
}

@media(width > 540px){
  .about__grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .trainer__grid{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .membership__grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width> 768px) {
  nav {
    position: static;
    padding: 1.5rem 1rem;
  }

  .nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }
  
  .about__grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .trainer__grid{
    grid-template-columns: repeat(4, 1fr);
  }

  .membership__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1024px){
  .trainer__grid{
    gap: 2rem;
  }

  .membership__grid {
    gap: 2rem;
  }

  .membership__card {
    padding: 2rem;
  }
}

.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url(img/BG-image-gym.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header__container {
  padding-block: 8rem;
  display: grid;
}

.header__content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  line-height: 5rem;
  color: var(--primary-color);
}

.header__content h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  line-height: var(--white);
  color: var(--white);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--extra-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 2px;
  color: var(--white);
  font-size: 1rem;
  background-color: var(--primary-color);
  border: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__logo img {
  display: flex;
  /* width: 100%; */
  width: 3.5rem;
  filter: invert(100%);
}

.btn_primary {
  background-color: var(--primary-color);
}

.btn__primary:hover {
  background-color: var(--primary-color-dark);
  /* border-color: 1px solid var(--primary-color ); */
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn__secondary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.container {
  text-align: center;
  border: 2px solid black;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin: 106px 80px; */
  padding: 45px;
  width: 85%;
  border-radius: 28px;
}

.form-group input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: block;
  width: 450px;
  /* padding: 1px; */
  border: 2px solid black;
  margin: 11px auto;
  border-radius: 8px;
  font-size: 25px;
}

.container h1 {
  text-align: center;
}

.container button {
  display: block;
  width: 28rem;
  margin: 20px auto;
}

footer {
  padding: 10px 0;
  background-color: #101010;
  color: #dfdcdc;
  bottom: 0;
  width: 100%;
  text-align: center;
}
